<div *ngIf="typePromo" class="popup-body" fxLayoutGap="16px" fxLayout="column">
  <div fxLayoutAlign="center center" fxFlexFill>
    <mat-toolbar color="primary">행사 업체 등록</mat-toolbar>
  </div>
  <form [formGroup]="promotionGroup" fxLayout="column" fxLayoutAlign="stretch">
    <mat-form-field>
      <mat-label>지원 회사 명</mat-label>
      <input
        matInput
        placeholder="지원 회사 이름"
        formControlName="company_name_ctrl"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>행사 코드</mat-label>
      <input
        matInput
        placeholder="지원 회사의 코드"
        formControlName="company_code_ctrl"
      />
    </mat-form-field>
    <div fxLayout="row" fxFlex="100">
      <button mat-stroked-button (click)="addPromotion()" color="accent">
        등록
      </button>
      <button mat-button (click)="cancel()">취소</button>
    </div>
  </form>
</div>
<div *ngIf="typeDevice" class="popup-body" fxLayoutGap="16px" fxLayout="column">
  <div>
    <mat-toolbar color="primary">행사 단말기 등록</mat-toolbar>
    <form [formGroup]="deviceGroup" fxLayout="column">
      <mat-form-field>
        <mat-label>단말기 이름</mat-label>
        <input
          matInput
          placeholder="예) iPhone 12 mini"
          formControlName="device_name_ctrl"
        />
      </mat-form-field>
      <div fxLayout="row" fxLayoutGap="16px">
        <mat-form-field>
          <mat-label>공시지원 복지 지원</mat-label>
          <input
            matInput
            placeholder="공시지원 복지 지원금"
            formControlName="publicPriceCtrl"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>선택약정 복지 지원</mat-label>
          <input
            matInput
            placeholder="선택약정 복지 지원금"
            formControlName="choosePriceCtrl"
          />
        </mat-form-field>
      </div>
    </form>
    <div fxLayoutGap="16px">
      <button
        mat-raised-button
        color="primary"
        (click)="addDevice()"
        *ngIf="!isModify"
      >
        단말기 등록
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="updateDevice()"
        *ngIf="isModify"
      >
        수정
      </button>
      <button mat-button color="warn" (click)="cancel()">취소</button>
    </div>
  </div>
</div>
