<div *ngIf="typePromo" class="popup-body" fxLayoutGap="16px" fxLayout="column">
  <div fxLayoutAlign="center center" fxFlexFill>
    <mat-toolbar color="primary">행사 업체 등록</mat-toolbar>
  </div>

  <form [formGroup]="promotionGroup" fxLayout="column" fxLayoutAlign="stretch">
    <mat-form-field>
      <mat-label>지원 회사 명</mat-label>
      <input matInput placeholder="지원 회사 이름" formControlName="company_name_ctrl" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>행사 코드</mat-label>
      <input matInput placeholder="지원 회사의 코드" formControlName="company_code_ctrl" />
    </mat-form-field>
    <div fxLayout="row" fxFlex="100">
      <button mat-stroked-button (click)="addPromotion()" color="accent">
        등록
      </button>
      <button mat-button (click)="cancel()">취소</button>
    </div>
  </form>
</div>
<div *ngIf="typeDevice" class="popup-body" fxLayoutGap="16px" [ngStyle]="{'margin': '16px 0px'}">

  <mat-toolbar color="primary">단말기 복지금 관리</mat-toolbar>

  <!-- 단말기 선택 -->
  <div fxLayoutGap='4px'>
    <mat-form-field appearance='fill'>
      <mat-label>단말기 선택</mat-label>
      <!-- <mat-select formControlName="deviceNameCtrl"> -->
      <mat-select [(ngModel)]='selectedDeviceName' (selectionChange)='onDeviceSelected(selectedDeviceName)'>
        <mat-option *ngFor="let phoneItem of PhoneList" [value]="phoneItem.ModelName">
          {{phoneItem.ModelName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance='fill'>
      <mat-label>통신망 선택</mat-label>
      <mat-select [(ngModel)]="selectedNetType" [disabled]='disableNetworkSelection'
        (selectionChange)='onNetworkSelected()'>
        <mat-option *ngFor='let plan of SelectedPayPlanList' [value]='plan'>
          {{ plan}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </div>

  <mat-card *ngIf='selectedNetType && selectedDeviceName' class='mat-elevation-z8'>
    <div *ngFor='let deviceItem of selectedSupportDeviceAndPlanList'>
      <span *ngIf='deviceItem.sktNetType === selectedNetType' fxLayoutAlign='space-between center'>
        <mat-label>{{deviceItem.planName}}</mat-label>
        <span></span>
        <span>
          <mat-form-field>
            <mat-label>공시 신규</mat-label>
            <input matInput [(ngModel)]="deviceItem.newDevice" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>공시 기변</mat-label>
            <input matInput [(ngModel)]="deviceItem.changeDevice" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>공시 번이</mat-label>
            <input matInput [(ngModel)]="deviceItem.moveNumber" />
          </mat-form-field>
        </span>
      </span>
    </div>
    <button mat-button color='primary' (click)='btnSave()'>복지금 저장</button>
  </mat-card>
  <!-- <form [formGroup]='planGroup'>
    <mat-card fxLayoutGap="4px" class='mat-elevation-z8' [ngStyle]="{'margin': '8px'}">
      <div fxLayoutAlign='space-between center'>
        <span></span>
        <button mat-raised-button color='primary' (click)='btnAddPromotionPlan()'>복지금 등록</button>
      </div>
      <div fxLayout='row' fxLayoutGap='4px'>
        <mat-form-field>
          <mat-label>공시 신규</mat-label>
          <input matInput formControlName='newPlanCtrl' />
        </mat-form-field>
        <mat-form-field>
          <mat-label>공시 기변</mat-label>
          <input matInput formControlName='changePlanCtrl' />
        </mat-form-field>
        <mat-form-field>
          <mat-label>공시 번이</mat-label>
          <input matInput formControlName='movePlanCtrl' />
        </mat-form-field>
      </div>
      
      <div fxLayout='row' fxLayoutGap='4px'>
        <mat-form-field>
          <mat-label>약정 신규</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field>
          <mat-label>약정 기변</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field>
          <mat-label>약정 번이</mat-label>
          <input matInput />
        </mat-form-field>
      </div>
    </mat-card>
  </form> -->

  <!-- 등록 / 취소 -->
  <!-- <div>

    <button mat-raised-button color="primary" (click)="addDevice()" *ngIf="!isModify">
      단말기 등록
    </button>
    <button mat-raised-button color="primary" (click)="updateDevice()" *ngIf="isModify">
      수정
    </button>
    <button mat-button color="warn" (click)="cancel()">취소</button>
  </div> -->

</div>