<div class='content' fxLayout='column' fxLayoutAlign='center center'>
    <div fxFlex='25%'>
        <h1>Phone Name</h1>
    <mat-label >
        <img mat-card-image src='../../../assets/img/iphone12.png'>
    </mat-label><br/>
    <mat-label>5.7"</mat-label><br/>
    <mat-label>저장공간 : 64G | 128G | 256G</mat-label><br/>
    <mat-label>카메라 : 12 MP 카메라</mat-label><br/>
    <mat-label>색상 : 블루 | 레드 | 블랙</mat-label><br/>
    <mat-label>크기 : 25 x 30 x 7.3 </mat-label><br/>
    <mat-label>동영상 : 120분 연속 촬영</mat-label><br/>
    <mat-label>무게 : 128 g</mat-label><br/>
    <mat-label>동영상 : 수퍼 슬로모</mat-label><br/>
    </div>
</div>
