<mat-toolbar fxLayoutAlign="space-between center" color='primary'>
  <span></span>
  <span *ngIf='!phoneInfo.PhoneName'>모델명</span>
  <span *ngIf='phoneInfo.PhoneName'>{{ phoneInfo.PhoneName + ' ' + phoneInfo.storageSize}}</span>
  <span></span>
</mat-toolbar>
<div mat-dialog-content>
  <div [ngStyle]="{ padding: '8px' }" class='mat-elevation-z8' fxLayoutGap="16px">
    <!-- 기본 정보 -->
    <div fxLayout='column' fxLayoutGap='16px'>
      <mat-toolbar fxLayoutAlign='space-between center'>모델 정보<span></span><span ></span></mat-toolbar>
      <div fxLayoutGap="16px">
        <mat-form-field>
          <mat-label>단말기 이름</mat-label>
          <input matInput placeholder="예) iPhone 12 mini" [(ngModel)]="phoneInfo.PhoneName" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>단말기 전체 이름 (Full Name)</mat-label>
          <input matInput placeholder="예) iPhone 12 Mini 256G" [(ngModel)]='phoneInfo.ModelName' />
        </mat-form-field>
        <mat-form-field>
          <mat-label>단말기 용량</mat-label>
          <input matInput placeholder="숫자만 입력하세요." [(ngModel)]='phoneInfo.storageSize'/>
        </mat-form-field>
        <mat-form-field>
          <mat-label>화면 사이즈 (인치)</mat-label>
          <input matInput placeholder="예) 5.4" [(ngModel)]="phoneInfo.inches" />
        </mat-form-field>
      </div>
    </div>
    <!-- 단말기 사이즈 / 무게 -->
    <div fxLayout='column' fxLayoutGap='16px'>
      <mat-toolbar> 단말기 사이즈 / 무게 </mat-toolbar>
      <div fxLayoutGap="16px">
        <mat-form-field>
          <mat-label>가로 (mm)</mat-label>
          <input matInput placeholder="예) 64.2" [(ngModel)]="phoneInfo.size_x" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>세로 (mm)</mat-label>
          <input matInput placeholder="예) 131.5" [(ngModel)]="phoneInfo.size_y" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>높이 (mm)</mat-label>
          <input matInput placeholder="예) 7.4" [(ngModel)]="phoneInfo.size_z" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>무게 (g)</mat-label>
          <input matInput placeholder="예) 133" [(ngModel)]="phoneInfo.weight" />
        </mat-form-field>
      </div>
    </div>
    <!-- 카메라 정보 -->
    <div fxLayout='column' fxLayoutGap='16px'>
      <mat-toolbar> 카메라 / 동영상 </mat-toolbar>
      <div fxLayoutGap="16px">
        <mat-form-field>
          <mat-label>카메라 정보</mat-label>
          <input matInput placeholder="예) 듀얼 12MP 카메라 시스템" [(ngModel)]="phoneInfo.camera" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>카메라 상세</mat-label>
          <input matInput placeholder="예) 울트라 와이드, 와이드" [(ngModel)]="phoneInfo.camera_comment" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>동영상</mat-label>
          <input matInput placeholder="예) 2배 광학 줌아웃, 최대 3배 디지털 줌" [(ngModel)]="phoneInfo.video" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>배터리 타임</mat-label>
          <input matInput placeholder="예) 동영상 재생 최대 15시간" [(ngModel)]="phoneInfo.power" />
        </mat-form-field>
      </div>
    </div>
    <!-- 가격 정보 -->
    <div fxLayout='column' fxLayoutGap='16px'>
      <mat-toolbar>단말기 가격</mat-toolbar>
      <div fxLayoutGap='16px'>
        <mat-form-field>
          <mat-label>출고 가격</mat-label>
          <input matInput [(ngModel)]='phoneInfo.origin_price'>
        </mat-form-field>
      </div>
      <mat-toolbar>가입 유형 별 가격</mat-toolbar>
      <div>
        <mat-form-field>
          <mat-label>신규 가입</mat-label>
          <input matInput placeholder="신규 가입 시 단말기 금액" [(ngModel)]='phoneInfo.NewDevice'>
        </mat-form-field>
        <mat-form-field>
          <mat-label>기기 변경</mat-label>
          <input matInput placeholder="기기 변경 시 단말기 금액" [(ngModel)]='phoneInfo.ChangeDevice'>
        </mat-form-field>
        <mat-form-field>
          <mat-label>번호 이동</mat-label>
          <input matInput placeholder="번호 이동 시 단말기 금액" [(ngModel)]='phoneInfo.MoveNumber'>
        </mat-form-field>
      </div>
    </div>
    
    <!-- 공시 지원금 -->
    <div fxLayout='column' fxLayoutGap='16px'>
      <mat-toolbar color="primary"> 지원금 </mat-toolbar>
      <mat-form-field>
        <mat-label>행사 가격</mat-label>
        <input matInput placeholder="복지 지원금" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>공시 지원금</mat-label>
        <input matInput placeholder="공시 지원금" />
      </mat-form-field>
      <div>
        <button mat-raised-button color="primary" (click)="btnSetSupportMoney()">
          저장
        </button>
      </div>
    </div>
    
    <!-- 휴대전화 정보 저장 -->
    <div fxLayout="row" fxLayoutGap="16px">
      <button mat-raised-button color="accent" (click)="btnSavePhoneDefaultInfo()">
        단말기 기본 정보 저장
      </button>
      <button mat-stroked-button color="warn" (click)='dialogRef.close("cancel");'>취소</button>
    </div>
  </div>

  <!-- <app-phone-storage></app-phone-storage> -->

  <div fxLayoutGap="16px" [ngStyle]="{ margin: '16px' }">
    <!-- 오리진 코드 -->
    <div fxLayoutAlign="start center" fxLayout="column" fxLayoutGap="32px" fxFlexFill>
      <mat-card fxLayout="column" fxLayoutGap="16px" fxFlex="20%">
        <mat-toolbar fxLayoutAlign='space-between center'><span>단말기 색상</span><span></span><button mat-raised-button color="primary">색상 추가</button></mat-toolbar>
        
        <table mat-table [dataSource]="colorList" class="mat-elevation-z8" fxFlexFill>
          <ng-container matColumnDef="color_name_kor">
            <th mat-header-cell *matHeaderCellDef>색상 이름</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>
          <ng-container matColumnDef="color_value">
            <th mat-header-cell *matHeaderCellDef>색상 값</th>
            <td mat-cell *matCellDef="let element">
              {{ element.value }}
            </td>
          </ng-container>

          <ng-container matColumnDef="color_actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <button mat-raised-button (click)="btnModifyStorageInfo(element)" color="primary">
                수정
              </button>
              <button mat-button (click)="btnDeleteStorageInfo(element)" color="warn">
                삭제
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="colorTableColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: colorTableColumns"></tr>
        </table>
      </mat-card>

      <!-- 단말기 용량 + 가입 방법에 대한 가격 설정 -->
      <!-- <mat-card fxLayout="column" fxLayoutGap="16px" fxFlex="20%">
        <mat-toolbar>단말기 용량 별 가격</mat-toolbar>
        <div fxLayoutAlign="end center">
          <button mat-raised-button color="primary">용량 추가</button>
        </div>
        <table
          mat-table
          [dataSource]="storageList"
          class="mat-elevation-z8"
          fxFlexFill
        >
          <ng-container matColumnDef="storage">
            <th mat-header-cell *matHeaderCellDef>용량</th>
            <td mat-cell *matCellDef="let element">{{ element.Size }}</td>
          </ng-container>
          <ng-container matColumnDef="newDevice">
            <th mat-header-cell *matHeaderCellDef>신규 가입</th>
            <td mat-cell *matCellDef="let element">
              {{ element.NewDevice | number: "1.0-0" }} 원
            </td>
          </ng-container>
          <ng-container matColumnDef="changeDevice">
            <th mat-header-cell *matHeaderCellDef>기기 변경</th>
            <td mat-cell *matCellDef="let element">
              {{ element.ChangeDevice | number: "1.0-0" }} 원
            </td>
          </ng-container>
          <ng-container matColumnDef="moveNumber">
            <th mat-header-cell *matHeaderCellDef>번호 이동</th>
            <td mat-cell *matCellDef="let element">
              {{ element.MoveNumber | number: "1.0-0" }} 원
            </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <button mat-raised-button (click)="btnModifyStorageInfo(element)" color='primary'>
                수정
              </button>
              <button mat-button (click)="btnDeleteStorageInfo(element)" color='warn'>
                삭제
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="storageTableColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: storageTableColumns"></tr>
        </table>
      </mat-card> -->

      <p>단말기 기본 정보 입력 후 하단의 내용을 추가 하기 바람.</p>

      <mat-card fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="16px" fxFlex="60">
        <div fxLayoutGap="16px" fxFlexFill>
          <mat-toolbar color="primary">이미지</mat-toolbar>
          <app-uploader [deviceName]='phoneInfo.PhoneName'></app-uploader>
        </div>
      </mat-card>
    </div>
  </div>
</div>