<div >
    <div fxFlex fxLayoutAlign='center center' [ngStyle]="{ 
        'border' : '1px solid gray',
        'width' : '16px', 
        'height' : '16px', 
        'margin-left' : '4px',
        'background' : phoneColor, 
        'border-radius' : '50%', 
        '-webkit-box-radius' : '50%', 
        '-webkit-border-radius' : '50%',
        '-moz-box-radius' : '50%', 
        '-moz-border-radius' : '50%',
        '-webkit-box-shadow' : '0 0 32px rgb(192,192,192)', 
        '-moz-box-shadow' : '0 0 32px rgb(192,192,192)' }" ></div>
    
</div>
