<mat-toolbar fxLayoutAlign="space-between center"><span>단말기 관리</span>
  <span></span>
  <button mat-raised-button color="primary" (click)="btnAddDevice()">
    단말기 추가
  </button>
</mat-toolbar>
<div fxLayout="column" fxLayoutGap="16px" [ngStyle]="{ padding: '16px' }">

  <mat-form-field>
    <mat-label>검색</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="ex. iphone 12 mini" #input />
  </mat-form-field>

  <table mat-table class="mat-elevation-z8" [dataSource]="dataSource" matSort fxFlexFill>
    <!-- 폰 이름 -->
    <ng-container matColumnDef="PhoneName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>단말기 이름</th>
      <td mat-cell *matCellDef="let element">{{ element.PhoneName }}</td>
    </ng-container>
    <ng-container matColumnDef='ModelName'>
      <th mat-header-cell *matHeaderCellDef mat-sort-header>단말기 전체 이름</th>
      <td mat-cell *matCellDef="let element">{{ element.ModelName }}</td>
    </ng-container>
    <ng-container matColumnDef="storage">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>저장 공간</th>
      <td mat-cell *matCellDef="let element">{{ element.storage.Size }}</td>
    </ng-container>
    <ng-container matColumnDef="newPrice">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>신규가입</th>
      <td mat-cell *matCellDef="let element">{{ element.storage.NewDevice | number: '1.0-0' }}</td>
    </ng-container>
    <ng-container matColumnDef="changePrice">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>기기변경</th>
      <td mat-cell *matCellDef="let element">{{ element.storage.ChangeDevice | number: '1.0-0' }}</td>
    </ng-container>
    <ng-container matColumnDef="movePrice">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>번호이동</th>
      <td mat-cell *matCellDef="let element">{{ element.storage.MoveNumber  | number: '1.0-0' }}</td>
    </ng-container>


    <ng-container matColumnDef="custom">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-button (click)="btnShowPhoneDetail(element)">
          수정
        </button>
        <button mat-button (click)="btnDeletePhone(element.PhoneName, element.idx)" color="warn">
          삭제
        </button>
      </td>
    </ng-container>

    <!-- 테이블 정보 -->
    <tr mat-header-row *matHeaderRowDef="headerColumnInfo"></tr>
    <tr mat-row *matRowDef="let row; columns: headerColumnInfo"></tr>

    <!-- 매칭 결과가 없을 때 아래가 보임 -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="7">
        일치하는 데이터가 없습니다.{{ input.value }}
      </td>
    </tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20, 30, 50]"></mat-paginator>

</div>