html, body{
  margin: 0;
  padding: 0;
  height: 100%;
}

.main-body{
  position: relative;
  min-height: 100%;
}
.header {

}
.footer {
  position: absolute;
  width: 100%;

  bottom: 0;
}
.contents {
  position: relative;

}
table{
  width: 200px;
  border-collapse: collapse;
  padding: 8px;
}
th{
  width: 150px;
}

