<div fxLayout="column" fxLayoutAlign="space-between stretch" fxFlexFill>
  <div>
    <app-order-header [phonePrice]='selectedPhoneInfo.origin_price' [phoneName]='selectedPhoneInfo.ModelName'>
    </app-order-header>
  </div>
  <div fxLayoutAlign='center center'>
    <!-- <mat-label fxLayoutAlign="center" class="mat-title">{{ selectedPhoneInfo.PhoneName }} 구매 신청</mat-label> -->
    <mat-vertical-stepper linear #stepper>
      <mat-step [stepControl]="customerFormGroup" errorMessage="고객님 정보가 누락 되었습니다.">
        <form [formGroup]="customerFormGroup" fxLayoutGap="16px">
          <ng-template matStepLabel>{{ titleCustInfo }}</ng-template>
          <mat-form-field appearance="standard">
            <mat-label>성명</mat-label>
            <input matInput placeholder="고객님 성함" formControlName="customer_name_ctrl" required />
          </mat-form-field>
          <mat-form-field appearance="standard">
            <mat-label>전화번호</mat-label>
            <input matInput placeholder="고객님 연락처" formControlName="customer_phone_ctrl" required />
          </mat-form-field>
          <div>
            <button mat-button matStepperNext color="accent" (click)="customerInfo()">
              다음 단계
            </button>
          </div>
        </form>
      </mat-step>
      <!-- 신규, 기변, 번호이동 -->
      <mat-step [stepControl]="masterplanFormGroup" errorMessage="플랜을 선택 해 주세요">
        <form [formGroup]="masterplanFormGroup" fxLayoutGap="16px">
          <ng-template matStepLabel>{{ titleMasterPlan }}</ng-template>
          <mat-radio-group fxLayout="column" fxLayoutGap="16px" formControlName="registerCtrl">
            <mat-radio-button value="신규가입">신규 가입</mat-radio-button>
            <mat-radio-button value="기기변경">기기 변경</mat-radio-button>
            <mat-radio-button value="번호이동">번호 이동</mat-radio-button>
          </mat-radio-group>
        </form>
        <div>
          <button mat-button matStepperPrevious>이전 단계</button>
          <button mat-button matStepperNext color="accent" (click)="chooseRegisterPlan()">
            다음 단계
          </button>
        </div>
      </mat-step>
      <!-- 단말기 할부 개월 설정 -->
      <mat-step [stepControl]="deviceInstallmentFormGroup" errorMessage="단말기 요금 납부 방법이 누락 되었습니다">
        <form [formGroup]="deviceInstallmentFormGroup" fxLayout="column" fxLayoutGap="16px">
          <ng-template matStepLabel>{{
            titleDeviceInstallmentInfo
            }}</ng-template>
          <mat-radio-group fxLayout="column" fxLayoutGap="16px" formControlName="deviceInstallmentCtrl">
            <mat-radio-button value="0" (click)='setDeviceInstallment(1)'>일시불</mat-radio-button>
            <mat-radio-button *ngFor="let inst of selectedPhoneInfo.device_installment" [value]="inst"
              (click)='setDeviceInstallment(inst)'>{{ inst }} 개월
            </mat-radio-button>
          </mat-radio-group>
          <div>단말기 할부 수수료 : 5.9 %</div>
        </form>
        <div>
          <button mat-button matStepperPrevious>이전 단계</button>
          <button mat-button matStepperNext color="accent" (click)="chooseDeviceInstallment()">
            다음 단계
          </button>
        </div>
      </mat-step>
      <!-- 요금제 선택 -->
      <mat-step [stepControl]="payplanFormGroup" errorMessage="요금제를 선택 해 주세요.">
        <form [formGroup]="payplanFormGroup" fxLayout="column" fxLayoutGap="16px">
          <ng-template matStepLabel>{{ titlePayPlan }}</ng-template>
          <!-- 2021.01.22 요금 선택을 테이블 형태로 변경 -->
          <mat-card *ngFor='let plan of selectedPhoneInfo.plans' >
            <mat-card-content fxLayout='column' fxLayoutGap='16px'>
              <div [ngStyle]="{'font-weight': 'bold', 'font-size': '18px'}">
                {{ plan.planName}}
              </div>
              <div fxLayout='row' fxLayoutAlign='space-between center' fxLayoutGap='8px'>
                <button mat-stroked-button color='primary' (click)='btnSetPublic(plan)'>
                  <table>
                    <th>공시지원</th>
                    <th>임직원할인</th>
                    <tr>
                      <td>{{ plan.publicPrice | number: '1.0-0' }} 원</td>
                      <td>{{ (getSupportMoney(plan)/10000) | number: '1.0-0'}}만 원</td>
                    </tr>
                  </table>
                </button>
                <button mat-stroked-button color='warn' (click)='btnSetInstallment(plan)'>
                  <table>
                    <th>요금할인 25%</th>
                    <th>임직원할인</th>
                    <tr>
                      <td>월 기본료: {{getMonthPlanAmount(plan) | number: '1.0-0'}} 원</td>
                      <td>{{ (getInstallmentMoney(plan) / 10000) | number: '1.0-0' }}만 원</td>
                    </tr>
                  </table>
                </button>
              </div>
            </mat-card-content>
          </mat-card>





        </form>
        <div>
          <button mat-button matStepperPrevious>이전 단계</button>
          <button mat-button matStepperNext color="accent" (click)="choosePayPlan()">
            다음 단계
          </button>
        </div>
      </mat-step>
      <!-- 단말기 색상 -->
      <mat-step [stepControl]="deviceFormGroup" errorMessage="단말기 선택 사항이 누락 되었습니다.">
        <form [formGroup]="deviceFormGroup" fxLayout="column" fxLayoutGap="16px">
          <ng-template matStepLabel #deviceLabel>{{titleDeviceInfo}}</ng-template>
          <!-- <mat-label>단말기 색상 선택</mat-label> -->
          <mat-radio-group fxLayout="column" fxLayoutGap="16px" formControlName="device_color_ctrl">
            <div *ngIf="selectedColor">{{ selectedColor }}</div>
            <mat-radio-button *ngFor="let color of selectedPhoneInfo.colors" [value]="color.name">
              <div fxLayout='row' fxLayoutGap='4px'>
                <app-color-box [phoneColor]='color.value'></app-color-box><span [ngStyle]="{'font-size': '16px'}">{{
                  color.name }}</span>
              </div>

            </mat-radio-button>
          </mat-radio-group>
        </form>
        <div>
          <button mat-button matStepperPrevious>이전 단계</button>
          <button mat-button matStepperNext color="accent" (click)="chooseDevice()">
            다음 단계
          </button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>완료</ng-template>
        <p>
          모든 항목이 완료 되었습니다. <br />
          하단 예상 금액을 확인 하시고 주문하기를 눌러
          주문을 완료 하세요
        </p>

        <div>
          <button mat-button matStepperPrevious>뒤로</button>
          <!-- <button mat-button (click)="stepper.reset()">다시 선택</button> -->
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </div>
  <div>
    <app-order-footer [originPrice]='selectedPhoneInfo.origin_price'></app-order-footer>
  </div>
</div>