html{
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 0;
} 
body{
  min-height: 100%;
}

.footer {
  width: 100%;
}

table{
  width: 200px;
  border-collapse: collapse;
  padding: 8px;
}
th{
  width: 150px;
}

