<!-- TODO:
    제조사별 정렬, 보임 여부
    통신망 별 정렬, 보임 여부
 -->
<!-- <p *ngIf='deviceXs'>promo-item ok</p> -->

<div fxLayoutAlign='center start'>
    <div class='mat-elevation-z8' [ngStyle]="{'margin': '16px'}" fxFlex='50%' fxFlex.xs='100%' fxFlex.sm='100%'
        fxFlex.md='80%'>

        <ng-container *ngIf='joined$ | async; else loading; let joined'>
            <div class='mat-card' [ngStyle]="{'margin': '16px'}" *ngFor='let phoneItem of joined'>
                <!-- 작은 화면 -->
                <div *ngIf='deviceXs' class='mat-card-content'>
                    <mat-toolbar color='primary'>{{ phoneItem.ModelName }}</mat-toolbar>
                    <div fxLayout='column'>
                        <!-- 이미지 리사이징 때문에 이미지만 mat card 사용 -->
                        <mat-card class='mat-elevation-z0'>
                            <img mat-card-image [src]="phoneItem.mainImgSrc">
                            <mat-card-content>
                                <mat-label fxLayoutAlign='space-between center'>
                                    <span [ngStyle]="{'font-size': '16px'}">출고가 : </span>
                                    <span></span>
                                    <span [ngStyle]="{'font-size': '16px'}">{{phoneItem.origin_price | number:'1.0-0'
                                        }}</span>
                                </mat-label>
                                <mat-label fxLayoutAlign='space-between center'>
                                    <span>색상 : </span>
                                    <span></span>
                                    <div fxLayout='row'>
                                        <span *ngFor='let color of phoneItem.colors'>
                                            <app-color-box [phoneColor]='color.value'></app-color-box>
                                        </span>
                                    </div>
                                </mat-label>
                                <mat-label fxLayoutAlign='space-between center'>
                                    <span>용량 :</span>
                                    <span></span>
                                    <span>{{ phoneItem.storageSize }} G</span>

                                </mat-label>
                            </mat-card-content>
                        </mat-card>
                        <!-- {{ phoneItem.net_type_5g }} -->
                        <div *ngIf='phoneItem.plans.length > 0'>
                            <table mat-table [dataSource]='phoneItem.plans' class='mat-elevation-z0' fxFlexFill>

                                <ng-container matColumnDef='payPlanName'>
                                    <th mat-header-cell *matHeaderCellDef>요금제
                                    <td mat-cell *matCellDef='let element'>
                                        <div [ngStyle]="{'font-weight': 'bolder', 'font-size': '16px'}">
                                            {{ element.planName }}
                                        </div>
                                        <div>
                                            월 {{ element.monthPay | number: '1.0-0'}} 원
                                        </div>
                                    </td>
                                    <td mat-footer-cell *matFooterCellDef>월 통신요금</td>
                                </ng-container>

                                <ng-container matColumnDef='publicPrice'>
                                    <th mat-header-cell *matHeaderCellDef class='table-money-center'>할인방법</th>
                                    <td mat-cell *matCellDef='let element' class='table-money-center'>
                                        <div [ngStyle]="{'color': 'darkblue'}">
                                            공시
                                        </div>
                                        <div [ngStyle]="{'color': 'tomato'}">
                                            약정
                                        </div>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef='newDevice'>
                                    <th mat-header-cell *matHeaderCellDef class='table-money'>신규 가입</th>
                                    <td mat-cell *matCellDef='let element' class='table-money'>
                                        <div [ngStyle]="{'color': 'darkblue', 'font-weight' : 'bold'}">
                                            {{ CollapseMoney(phoneItem.origin_price - element.publicPrice -
                                            element.newDevice)}}
                                        </div>
                                        <div [ngStyle]="{'color': 'tomato', 'font-weight' : 'bold'}">
                                            {{ CollapseMoney(phoneItem.origin_price - element.publicPrice -
                                            element.newDeviceInstallment)}}
                                        </div>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef='moveNumber'>
                                    <th mat-header-cell *matHeaderCellDef class='table-money'>번호 이동</th>
                                    <td mat-cell *matCellDef='let element' class='table-money'>
                                        <div [ngStyle]="{'color': 'darkblue', 'font-weight' : 'bold'}">
                                            {{ CollapseMoney(phoneItem.origin_price - element.publicPrice -
                                            element.moveNumber)}}
                                        </div>
                                        <div [ngStyle]="{'color': 'tomato', 'font-weight' : 'bold'}">
                                            {{ CollapseMoney(phoneItem.origin_price - element.publicPrice -
                                            element.moveNumberInstallment)}}
                                        </div>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef='changeDevice'>
                                    <th mat-header-cell *matHeaderCellDef class='table-money'>기기 변경</th>
                                    <td mat-cell *matCellDef='let element' class='table-money'>
                                        <div [ngStyle]="{'color': 'darkblue', 'font-weight' : 'bold'}">
                                            {{ CollapseMoney(phoneItem.origin_price - element.publicPrice -
                                            element.changeDevice) }}
                                        </div>
                                        <div [ngStyle]="{'color': 'tomato', 'font-weight' : 'bold'}">
                                            {{ CollapseMoney(phoneItem.origin_price - element.publicPrice -
                                            element.changeDeviceInstallment) }}
                                        </div>
                                    </td>
                                </ng-container>


                                <!-- <ng-container matColumnDef='monthPay'>
                                        <th mat-header-cell *matHeaderCellDef>월 통신요금</th>
                                    </ng-container> -->

                                <tr mat-header-row *matHeaderRowDef="deviceHeaderColumnInfo"></tr>
                                <!-- <tr mat-header-row *matHeaderRowDef='deviceSecondHeaderColumnInfo'></tr> -->
                                <tr mat-row *matRowDef="let row; columns: deviceHeaderColumnInfo;"></tr>
                            </table>
                        </div>
                    </div>

                </div>
                <!-- 큰 화면 -->
                <div *ngIf='!deviceXs' class='mat-card-content'>
                    <mat-toolbar color='primary'>{{ phoneItem.ModelName }}</mat-toolbar>
                    <div fxLayout='row'>
                        <!-- 이미지 리사이징 때문에 이미지만 mat card 사용 -->
                        <mat-card fxFlex='30' class='mat-elevation-z0'>
                            <img mat-card-image [src]="phoneItem.mainImgSrc">
                            <mat-card-content>
                                <mat-label fxLayoutAlign='space-between center'>
                                    <span [ngStyle]="{'font-size': '16px'}">출고가 : </span>
                                    <span></span>
                                    <span [ngStyle]='{"font-size": "16px", "color" : "blue"}'>{{phoneItem.origin_price |
                                        number:'1.0-0' }} 원</span>
                                </mat-label>
                                <mat-label fxLayoutAlign='space-between center'>
                                    <span>색상 : </span>
                                    <span></span>
                                    <div fxLayout='row'>
                                        <span *ngFor='let color of phoneItem.colors'>
                                            <app-color-box [phoneColor]='color.value'></app-color-box>
                                        </span>
                                    </div>
                                </mat-label>
                                <mat-label fxLayoutAlign='space-between center'>
                                    <span>용량 :</span>
                                    <span></span>
                                    <span>{{ phoneItem.storageSize }} G</span>

                                </mat-label>
                            </mat-card-content>

                        </mat-card>
                        <!-- {{ phoneItem.net_type_5g }} -->
                        <div *ngIf='phoneItem.plans.length > 0' fxFlex='70'>
                            <table mat-table [dataSource]='phoneItem.plans' class='mat-elevation-z0' fxFlexFill>

                                <ng-container matColumnDef='payPlanName'>
                                    <th mat-header-cell *matHeaderCellDef>요금제
                                    <td mat-cell *matCellDef='let element'>
                                        <div [ngStyle]="{'font-weight': 'bolder', 'font-size': '16px'}">
                                            {{ element.planName }}
                                        </div>
                                        <div>
                                            월 {{ element.monthPay | number: '1.0-0'}} 원
                                        </div>
                                    </td>
                                    <td mat-footer-cell *matFooterCellDef>월 통신요금</td>
                                </ng-container>

                                <ng-container matColumnDef='publicPrice'>
                                    <th mat-header-cell *matHeaderCellDef class='table-money-center'>할인방법</th>
                                    <td mat-cell *matCellDef='let element' class='table-money-center'>
                                        <div [ngStyle]="{'color': 'darkblue'}">공시지원</div>
                                        <div [ngStyle]="{'color': 'tomato'}">약정할인</div>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef='newDevice'>
                                    <th mat-header-cell *matHeaderCellDef class='table-money'>신규 가입</th>
                                    <td mat-cell *matCellDef='let element' class='table-money'>
                                        <div [ngStyle]="{'color': 'darkblue', 'font-weight' : 'bold'}">
                                            {{ FullMoney(phoneItem.origin_price - element.publicPrice -
                                            element.newDevice)
                                            }}
                                        </div>
                                        <div [ngStyle]="{'color': 'tomato', 'font-weight' : 'bold'}">
                                            {{ FullMoney(phoneItem.origin_price - element.publicPrice -
                                            element.newDeviceInstallment) }}
                                        </div>

                                    </td>
                                </ng-container>

                                <ng-container matColumnDef='moveNumber'>
                                    <th mat-header-cell *matHeaderCellDef class='table-money'>번호 이동</th>
                                    <td mat-cell *matCellDef='let element' class='table-money'>
                                        <div [ngStyle]="{'color': 'darkblue', 'font-weight' : 'bold'}">
                                            {{ FullMoney(phoneItem.origin_price - element.publicPrice -
                                            element.moveNumber) }}
                                        </div>
                                        <div [ngStyle]="{'color': 'tomato', 'font-weight' : 'bold'}">
                                            {{ FullMoney(phoneItem.origin_price - element.publicPrice -
                                            element.moveNumberInstallment) }}
                                        </div>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef='changeDevice'>
                                    <th mat-header-cell *matHeaderCellDef class='table-money'>기기 변경</th>
                                    <td mat-cell *matCellDef='let element' class='table-money'>
                                        <div [ngStyle]="{'color': 'darkblue', 'font-weight' : 'bold'}">
                                            {{ FullMoney(phoneItem.origin_price - element.publicPrice -
                                            element.changeDevice) }}
                                        </div>
                                        <div [ngStyle]="{'color': 'tomato', 'font-weight' : 'bold'}">
                                            {{ FullMoney(phoneItem.origin_price - element.publicPrice -
                                            element.changeDeviceInstallment) }}
                                        </div>
                                    </td>
                                </ng-container>


                                <!-- <ng-container matColumnDef='monthPay'>
                                        <th mat-header-cell *matHeaderCellDef>월 통신요금</th>
                                    </ng-container> -->

                                <tr mat-header-row *matHeaderRowDef="deviceHeaderColumnInfo"></tr>
                                <!-- <tr mat-header-row *matHeaderRowDef='deviceSecondHeaderColumnInfo'></tr> -->
                                <tr mat-row *matRowDef="let row; columns: deviceHeaderColumnInfo;"></tr>
                            </table>
                        </div>
                    </div>

                </div>

                <mat-card-actions fxLayoutAlign='center'>
                    <button mat-stroked-button color='primary' (click)='btnBuy(phoneItem)'>구매신청</button>
                    <button mat-stroked-button color='warn' (click)='btnDetail(phoneItem)'>상세보기</button>
                </mat-card-actions>
            </div>
        </ng-container>
    </div>
    <ng-template #loading>
        loading...
    </ng-template>
</div>