<mat-toolbar color='warn'>
    <span>iPhone 12 프로모션</span>
</mat-toolbar>

<div class='mat-elevation-z8' [ngStyle]="{'margin': '8px'}">
    <ng-container *ngIf='joined$ | async; else loading; let joined'>
        <div class='mat-card' [ngStyle]="{'margin': '4px'}" *ngFor='let phoneItem of joined'>
            <div class='mat-card-content'>
                <h5>{{ phoneItem.ModelName }}</h5>
                <h6>{{ phoneItem.storageSize }} G</h6>
                <section>{{ phoneItem.origin_price }}</section>
                <section>{{ phoneItem.net_type_5g }}</section>
                <div>
                    <table>
                        <tr>
                            <th>요금제</th>
                            <th>신규 가입</th>
                            <th>기기 변경</th>
                            <th>변호 이동</th>
                            <th>테스트</th>
                        </tr>
                        <tr *ngFor='let planData of phoneItem.plans'>
                            <td>{{ planData.planName }}</td>
                            <td>{{ planData.newDevice | number:'1.0-0'}} 원</td>
                            <td>{{ planData.changeDevice | number:'1.0-0'}} 원</td>
                            <td>{{ planData.moveNumber | number:'1.0-0'}} 원</td>
                            <!-- <td> {{ GetNewDeviceMoney(data.ModelName, data.origin_price ) }} </td> -->
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </ng-container>
</div>
<ng-template #loading>
    loading...
</ng-template>

<div class='content' fxLayout='row wrap' fxLayoutGap='16px grid'>
    <!-- <div fxFlex='25%' fxFlex.xs='100%' fxFlex.sm='25%' *ngFor='let data of items'> -->
    <div *ngFor='let data of items' [ngStyle]="{'margin': '16px 16px'}">
        <div class='mat-elevation-z8'>
            <mat-toolbar color='primary'>{{ data.ModelName }}</mat-toolbar>
            <div fxLayout='row'>
                <div fxFlex='30%'>
                    <!-- 이미지 리사이징 때문에 이미지만 mat card 사용 -->
                    <mat-card class='mat-elevation-z0'>
                        <img mat-card-image [src]="data.mainImgSrc">
                        <mat-card-content>
                            <mat-label fxLayoutAlign='space-between center'>
                                <span>출고가 : </span><span></span><span [ngStyle]='{"color" : "blue"}'>{{
                                    data.origin_price | number:'1.0-0' }} 원</span>
                            </mat-label>
                            <mat-label fxLayoutAlign='space-between center'>
                                <span>색상 : </span>
                                <span></span>
                                <div fxLayout='row'>
                                    <span *ngFor='let color of data.colors'>
                                        <app-color-box [phoneColor]='color.value'></app-color-box>
                                    </span>
                                </div>
                            </mat-label>
                            <mat-label fxLayoutAlign='space-between center'>
                                <span>용량 :</span>
                                <span></span>
                                <span>{{ data.storageSize }} G</span>

                            </mat-label>
                        </mat-card-content>

                    </mat-card>

                </div>
                <div fxFlex='70%'>
                    <table>
                        <tr>
                            <th>공시 지원금</th>
                            <th>신규 가입</th>
                            <th>기기 변경</th>
                            <th>변호 이동</th>
                            <th>테스트</th>
                        </tr>
                        <tr>
                            <td>{{ data.gov_price | number:'1.0-0'}} 원</td>
                            <td>{{ data.NewDevice | number:'1.0-0'}} 원</td>
                            <td>{{ data.ChangeDevice | number:'1.0-0'}} 원</td>
                            <td>{{ data.MoveNumber | number:'1.0-0'}} 원</td>
                            <!-- <td> {{ GetNewDeviceMoney(data.ModelName, data.origin_price ) }} </td> -->
                        </tr>
                    </table>
                </div>

            </div>
            <mat-card-actions fxLayoutAlign='center'>
                <button mat-stroked-button color='primary' (click)='btnBuy(data)'>구매신청</button>
                <button mat-stroked-button color='warn' (click)='btnDetail(data)'>상세보기</button>
            </mat-card-actions>
            <h4>단말기 요금표</h4>
            <div *ngFor='let item of payPlan' fxLayoutAlign='space-between center'>
                
                <label>{{item.name}}</label>
                <label>{{item.netKind}}</label>
                <label>{{item.publicPrice | number: '1.0-0'}}</label>
                <label>{{ getNumber(data.origin_price) - item.publicPrice}}</label>
            </div>
        </div>
    </div>
</div>