<div fxLayout="column" fxLayoutGap="16px">
  <mat-toolbar>요금제 관리</mat-toolbar>
  <div>
    <mat-form-field>
      <mat-label>통신망</mat-label>
      <input
        matInput
        [(ngModel)]="currentPlan.netKind"
        placeholder="예) 5G, LTE, 3G, 2G"
      />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>요금제 명</mat-label>
      <input matInput [(ngModel)]="currentPlan.name" />
    </mat-form-field>
  </div>
  <div fxLayoutGap="16px">
    <mat-form-field>
      <mat-label>월 정액</mat-label>
      <input
        matInput
        placeholder="월 정액 요금"
        [(ngModel)]="currentPlan.monthPay"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>월 할인 요금</mat-label>
      <input matInput [(ngModel)]="currentPlan.monthlyPay" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>총 할인 요금</mat-label>
      <input matInput [(ngModel)]="currentPlan.totallyPay" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>할인 후 월 통신요금</mat-label>
      <input matInput [(ngModel)]="currentPlan.actualMonthPay" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>공시지원금</mat-label>
      <input matInput [(ngModel)]="currentPlan.publicPrice" />
    </mat-form-field>
  </div>

  <button
    *ngIf="displayType === 'AddPlan'"
    mat-raised-button
    color="primary"
    (click)="btnSavePlan()"
  >
    저장
  </button>
  <button
    *ngIf="displayType === 'UpdatePlan'"
    mat-button
    color="warn"
    (click)="btnModifyPlan()"
  >
    수정
  </button>
</div>
