<p>phone-price works!</p>
<div class='mat-elevation-z8'>
    <mat-toolbar fxLayoutAlign='space-between center'>
        <span>단말기 가격</span>
        <span></span>
        <span></span>
    </mat-toolbar>
    <mat-form-field>
        <mat-label>신규 가입</mat-label>
        <input matInput placeholder="신규 가입 금액" [(ngModel)]='phoneInfo.storage.NewDevice'>
    </mat-form-field>
    <mat-form-field>
        <mat-label>기기 변경</mat-label>
        <input matInput placeholder="기기 변경 금액" [(ngModel)]='phoneInfo.storage.ChangeDevice'>
    </mat-form-field>
    <mat-form-field>
        <mat-label>번호 이동</mat-label>
        <input matInput placeholder="번호 이동 금액" [(ngModel)]='phoneInfo.storage.MoveNumber'>
    </mat-form-field>
</div>
